---
import BaseLayout from "../layouts/BaseLayout.astro"
// const pageTitle = "BLOGTITLE"
const pageTitle = "SYABLOG"
import { Image } from 'astro:assets';
import BlogListItem from '../components/BlogListItem.astro'
import ProfileSection from "../components/ProfileSection.astro";
import CategorySection from "../components/CategorySection.astro"
import TagSection from "../components/TagSection.astro"
import dummyImage from '../images/dummyImage1.webp'
---
<BaseLayout pageTitle={pageTitle}>
  <!-- メインセクション -->
	<main>
		<div id="main-section">
			<!-- ここに記事一覧 -->
			<!-- 横長表示なら左に配置する -->
			<!-- メイン記事 -->
      <div>
        <BlogListItem ListImages={dummyImage} ContentsTitle="最新記事タイトル" />
      </div>
			<!-- メインメニュー -->
      <!-- 記事一覧 -->
      <div>
        <h2 class="latest-update-heading">記事一覧</h2>
          <div class="blog-list-item-wrapper">
            <!-- あとで繰り返し処理 -->
            <BlogListItem ListImages={dummyImage} ContentsTitle="記事タイトル" />
            <BlogListItem ListImages={dummyImage} ContentsTitle="記事タイトル" />
            <BlogListItem ListImages={dummyImage} ContentsTitle="記事タイトル" />
            <BlogListItem ListImages={dummyImage} ContentsTitle="記事タイトル" />          
          </div>
        <div>
          <!-- ここにページのリンクを入れる -->
          <p>1 2 3 4 5 6</p>
        </div>
      </div>
		</div>

		<!-- サブセクション -->
		<div id="sub-section">
			<!-- ここにプロフィールやカテゴリ・タグ一覧 -->
			<!-- 横長表示なら右に配置する -->
      <ProfileSection />
      <CategorySection />
      <TagSection />
		</div>
	</main>
</BaseLayout>

